@import "tailwindcss";

body {
  color: var(--foreground);
}

/* globals.css ma yasari lekhne */
@layer components {
  .btn-airbnb {
    @apply px-4 py-2  shadow-[0_2px_0_#e5e7eb,0_6px_14px_-6px_rgba(0,0,0,0.35)] rounded-full
cursor-pointer hover:shadow-lg active:scale-95
active:bg-gray-100 transition transform duration-100
ease-out;
  }
}
